.header__nav {
  display: flex;
  overflow: hidden;
  padding: 2rem;
}
.header__logo {
  flex: 1;
  display: flex;
  position: relative;
  padding: 20px;
}
.header__logo h4 {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  font-family: var(--playfair-display);
  color: var(--black-200);
  opacity: 0.8;
}

.header__menu,
.header__menu-mobile {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 64px;
  list-style: none;
}

.header__menu li {
  font-weight: 200;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 20px;
  cursor: pointer;
}

.header__menu li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.header__menu-mobile {
  display: none;
  gap: 20px;
  position: relative;
}
@media screen and (max-width: 900px) {
  .header__nav {
    background: var(--primary-color);
    padding: 0.5rem 4rem;
  }

  .header__menu {
    display: none;
  }
  .header__logo h4{
    color: var(--color-white);
  }

  .header__menu-mobile {
    display: flex;
  }
}
